.cartcontent {
    width: max-width;
    // height: 79.4vh;
    min-height: 80vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: flex-start;
    font-family: Roboto;
    margin: 0 15.5%;
    padding: 30px;
}

.cartcontent .mycart {
    /* margin-top: 10px; */
    font-size: 20px;
    padding-left: 10px;
}
.cartcontent .Home {
    top: 79px;
    left: 219px;
    width: 60px;
    height: 16px;
    text-align: left;
    font: normal normal normal 18px/24px Roboto;
    letter-spacing: 0px;
    color: #0a0102;
    opacity: 1;
}

.cartcontent .cartitems .part1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cartcontent .cartitems .part1 .container {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    
}
.cartcontent .cartitems .part1 .container .items {
    padding: 10px;
}
.cartcontent .cartitems .part1 .container .items .author {
    font-size: 15px;
    color: #878787;
    padding-bottom: 8px;
}
.cartcontent .cartitems .part1 .container .items .price {
    padding-bottom: 5px;
}
.cartcontent .cartitems .part1 .container .items .inlineicons {
    padding: 5px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.cartcontent .cartitems .part1 .container .items .inlineicons .quantity {
    width: 34px;
    height: 23px;
    text-align: center;
    border: 1px solid #878787;
    margin: 0 3px;
    
}
.remove {
    padding: 0 10px;
    cursor:pointer;
}
.cartcontent .cartitems .part1 img {
    width: 60px;
    height: 80px;
    margin-right: 20px;
}
.cartcontent .cartitems .part1 Button {
    align-self: flex-end;
    background-color: #3371b5;
    color: white;
}
.cartcontent .box {
    width: 774px;
    height: auto;
    border: 1px solid #878787;
    padding: 15px;
    margin-bottom: 20px; 
    margin: 5px 0px;
}
.cartcontent .customerdetails { 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.cartcontent .customerdetails .addressfield {
    width: 480px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.cartcontent .customerdetails Button {
    align-self: flex-end;
    background-color: #3371b5;
    color: white;
}
.placeOrder{
    display: flex;
    justify-content: flex-end;

}
.checkout{
    display: flex;
    justify-content: flex-end;
}
@media screen and (max-width: 360px){
    .cartcontent{
        width: 100%;
        height:180vh;
        margin-left: 0;
    }
    .cartcontent .box{
        width: 100%;
    }
    .cartcontent .cartitems .part1{
        margin-left: 91px;
    }
    .cartitems .box{
        margin-bottom: 50%;
    }
    .cartcontent .customerdetails .addressfield {
        width: 100%;
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        /* align-items: flex-start; */
    }
    .cartcontent .customerdetails Button {
        margin-top: 2%;
    }
    .container{
        margin-top: 15px;
    }
    .checkout {
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }
}

@media only screen and (min-width: 400px)and  (max-width: 500px){
    .cartcontent{
        width: 100%;
        height:180vh;
        margin-left: 0;
    }
    .cartcontent .box{
        width: 100%;
    }
    .cartcontent .cartitems .part1{
        margin-left: 91px;
    }
    .cartitems .box{
        margin-bottom: 50%;
    }
    .cartcontent .customerdetails .addressfield {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .cartcontent .customerdetails Button {
        margin-top: 2%;
    }
    .container{
        margin-top: 15px;
        margin-left: -41%;
    }
    .checkout {
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }

}

@media screen and (min-width: 500px) and (max-width: 768px){
    .cartcontent{
        width: 100%;
        height:150vh;
        margin-left: 0;
    }
    .cartcontent .box{
        width: 97%;
    }
    .cartcontent .cartitems .part1{
        /* margin-left: 1px; */
    }
    /* .cartcontent .customerdetails .addressfield {
        width: 86%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    } */
    .cartcontent .customerdetails Button {
        margin-top: 5%;
    }
}