.orderbody {
    width: max-width;
    height: 70.2vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 15.5%;
    margin-bottom: 14vh;
    font: Roboto;
}
.orderbody .image {
    padding: 10px;
}
.orderbody .texts {
    text-align: center;
    padding: 10px;
    width: 350px;
    font-size: 16px;
}
.orderbody .table {
    border: 1px solid grey;
    margin-top: 10px;
}
.orderbody .table th {
    background-color: #dcdcdc;
}
.orderbody .table td {
    padding: 15px;
}
.orderbody .continue-shop {
    background-color: #3371b5;
    height: 35px;
    color: white;
    margin-top: 25px;
}
.orderbody .MuiButton-fullWidth {
    width: 30% !important;
}

.success-wrapper {
    display: flex;
    justify-content: center;
    
}
.basic-button{
    cursor: pointer;
    border: none;
    width: 200px;
    height: 35px;
    color: #f5f5f5;
    background: #3371B5 0% 0% no-repeat padding-box;
}

@media screen and (max-width:530px ){
    .orderbody {
        margin-top: 50%;
        height: 25vh;
    }
    .orderbody .MuiButton-fullWidth{
        width: 88% !important;
        margin-top: 14%;
    }
    .orderbody .table table{
        width: 15%;
        font-size: 12px;
    }
    .continue-shop{
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }
    .orderbody .MuiButton-fullWidth {
        width: 100% !important;
        margin-top: 4%;
      }
}

@media screen and (max-width:360px){
    .orderbody {
        margin-top: 2%;
        height: 100vh;
    }
    .orderbody .MuiButton-fullWidth{
        width: 88% !important;
        margin-top: 14%;
    }
    .orderbody .table table{
        width: 15%;
        font-size: 12px;
    }
} 


@media only screen and (min-width: 400px)and  (max-width: 500px){
    .orderbody {
        margin-top: 2%;
        height: 100vh;
    }
    .orderbody .MuiButton-fullWidth{
        width: 88% !important;
        margin-top: 14%;
    }
    .orderbody .table table{
        width: 15%;
        font-size: 12px;
    }
}


@media screen and (max-width:768px ) {
   
    .orderbody {
        /* margin-top: -15%; */
        height: max-content;
    }
    /* .orderbody .MuiButton-fullWidth{
        width: 88% !important;
        margin-top: 10%;
    } */
    /* .orderbody .table table{
        width: 10%;
        font-size: 22px;
    } */
}